<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{title}} | TIMFIRST</title>
        <link rel="stylesheet" href="/styles/main.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css"
        />
    </head>
    <body>
        <nav>
            <a href="/">TIM</a>
            <a href="/projects">Projects</a>
            <a href="/writing">Writing</a>
        </nav>
        <div class="transition-container">
            <main>
                <header class="page-header">
                    <h1>{{title}}</h1>
                    <p class="description">{{description}}</p>
                    <time>{{date}}</time>
                </header>
                <div class="content">{{content}}</div>
            </main>
        </div>
        <script src="/assets/transition.js"></script>
    </body>
</html>
