body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #2c2c2c;
    color: #e7e2d2;
}

a {
    color: #ffffff;
}
a:hover {
    color: #e7e2d2;
}

.layout {
    display: flex;
    min-height: 100vh;
    justify-content: flex-start;
    position: relative;
}

.sidebar {
    position: fixed;
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar a {
    color: #ffffff;
    text-decoration: none;
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
}

.ascii-title {
    display: flex;
    justify-content: center;
}

.ascii-title pre {
    font-size: 16px;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    white-space: pre;
}

.page-content {
    line-height: 1.4;
    max-width: 66ch;
    width: 100%;
}
